@import url('https://fonts.googleapis.com/css2?family=Calibri&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg-image {
    background-image: url('img/WhatsApp Image 2024-07-22 at 12.06.21.jpeg');
    height: 100vh;
    /* Menggunakan viewport height untuk memastikan gambar latar mengisi seluruh layar */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Menambahkan posisi relatif untuk child yang akan ditambahkan */
}

.navbar-custom {
    display: flex;
    justify-content: center;
    /* Mengatur konten navbar agar berada di tengah */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    /* Transparan putih untuk menyatu dengan gambar latar */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-custom a {
    color: black;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-custom a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.floating-text {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -3%);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Transisi untuk animasi */
    opacity: 0.8;
    /* Awal opacity lebih rendah */
}

.floating-text:hover {
    transform: scale(1.1);
    /* Zoom-in efek saat dihover */
    opacity: 1;
    /* Full opacity saat dihover */
}

.floating-text .title {
    font-family: 'Baloo 2', cursive;
    font-size: 1.8em;
    /* Ukuran font sedikit lebih kecil */
    color: #FFABAB;
    /* Warna pastel lebih cerah */
    margin-bottom: 5px;
    /* Jarak antara baris */
    transition: color 0.3s ease;
    /* Transisi untuk perubahan warna */
}

.floating-text .subtitle {
    font-family: 'Lobster', cursive;
    font-size: 1em;
    /* Ukuran font sedikit lebih kecil */
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    /* Gradient warna pastel */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    /* Jarak antara baris */
    transition: background 0.3s ease;
    /* Transisi untuk perubahan background */
}

.floating-text:hover .title,
.floating-text .title a {
    color: #FFABAB;
    /* Warna tetap sama saat dihover */
}